# Ignore direktori node_modules/
node_modules/

# Ignore file .env
.env

db_compro_react.sql

# Ignore file .DS_Store
.DS_Store

# Ignore direktori .vscode/
.vscode/

# Ignore file package-lock.json
package-lock.json

# Ignore direktori public/
public/

# Ignore semua file yang berakhiran dengan .log
*.log

# Ignore direktori logs/
logs/

request.rest
